# 编辑器基础规范，跨 IDE 通用
# 参考: https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cpp,h,hpp,cc,cxx,hxx,ipp}]
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 4
